div input .completer-input{
    width:100%;
}

ng2-completer {
    border: 0px;
    display: inline;
}

.md-form label.active{
    color: #4285f4;
}

.input-group-prepend .input-group-text{
    min-width: 165px;
}