<form class="container pt-2">
    <div class="form-row">
      <div class="col">
        <div class="md-form">
            <input mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">Nazwa czcionki</label>
        </div>
      </div>

      <div class="col">
            <div class="md-form">
                <input type="number" class="form-control" id="numberInputEx" mdbInput>
                <label for="numberInputEx">Rozmiar czcionki</label>
              </div>
      </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend my-auto">
          <div class="input-group-text" style="height: 38px;">
            <mdb-checkbox class="my-auto mx-auto" [default]="true"></mdb-checkbox> Litery
          </div>
        </div>
        <input type="number" class="form-control" id="minStockLetter" placeholder="Minimalna ilość na magazynie">
    </div>
        
    <div class="input-group mb-3">
        <div class="input-group-prepend my-auto">
          <div class="input-group-text" style="height: 38px;">
            <mdb-checkbox class="my-auto mx-auto" [default]="true"></mdb-checkbox> Liczby
          </div>
        </div>
        <input type="number" class="form-control" id="minStockNumber" placeholder="Minimalna ilość na magazynie">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend my-auto">
          <div class="input-group-text" style="height: 38px;">
            <mdb-checkbox class="my-auto mx-auto" [default]="true"></mdb-checkbox> Krzyż i gwiazda
          </div>
        </div>
        <input type="number" class="form-control" id="minStockCrossAndStar" placeholder="Minimalna ilość na magazynie">
    </div>
    <button type="submit" mdbBtn color="primary">Stwórz</button>
</form>