<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <mdb-navbar-brand><a class="navbar-brand" routerLink="" routerLinkActive="active">Tomb Master</a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown Font -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Font<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/create-font"
                        routerLinkActive="active">Create</a>
                </div>
            </li>
            <!-- Dropdown Order -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Order<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/create-order"
                        routerLinkActive="active">Create</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/history-order"
                        routerLinkActive="active">History</a>
                </div>
            </li>
            <!-- Dropdown Delivery -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Delivery<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/create-delivery"
                        routerLinkActive="active">Create</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/history-delivery"
                        routerLinkActive="active">History</a>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>