div input[type=date]{
    padding-bottom: 5px;
    padding-top: 5px;
  }

  div input[type=date]:disabled,div select:disabled{
    background-color: #e9ecef;
    opacity: 1;
    color: #6b6e70;
  }

  @media only screen and (max-width: 575px) {
    #birth-size {
      margin-bottom: 16px;
    }

    .btn-primary{
      width:max-content;
    }
  }